body
{
 //font-family:;
 padding:0px;
 margin:0px;

}
#header
{
 background-color:gray;
 border: 5px solid red;
 text-align:center;
 //padding:4px;
 color:black;
 font-size:20px;
 position:fixed;
 width:99%;
 height:100px;
}
#menu
{
clear:both;
width:100%;
padding:0px;
background:#FF0000;
margin-top:110px;
position:fixed;
height:6%;
}
#menu ul
{

list-style:none;
margin:0px;
}
#menu ul li a{
float:left;
text-decoration:none;
color:yellow;
font-weight: bold;
padding:10px 30px;
text-align:center;
//height:13px;
}
#menu ul li a:hover
{
background-color:green;
}

#section
{
 float:left;
 border: 5px solid green;
 //background-color:khaki;
 width:98.60%;
 margin-top:145px;
 padding:5px;
min-height:700px;
}
#section h1
{
text-align:center;
}
#footer
{
 background-color:black;
 clear:both;
 text-align:center;
 color:white;
 padding:10px;
}